<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
<meta name="viewport" content="width=decive-width, inital-scale=1">
</head>

<body>

<nav class="navBar">
<label class="websiteTitle">Blog</label>
<ul class="ul-list">
<li class="li-list"><a href="home">HOME</a></li>
<li class="li-list"><a href="aboutus">ABOUT US</a></li>
<li class="li-list"><a href="contactus">CONTACT US</a></li>
</ul>
</nav>
