<%- include('partials/header'); -%>


<form>
<label class="label">Post Title</label>
<input class="postTitle" type="text"></input>
<label class="label">Post Body</label>
<textarea class="postBody" name="name" rows="8" cols="80"></textarea>
</form>

<%- include('partials/footer'); -%>
