<%- include('partials/header'); -%>


<form action="/posted" method="post">
<label class="label">Post Title</label>
<input name="postTitle" class="postTitle" type="text"></input>
<label class="label">Post Body</label>
<textarea name="bodyTitle" class="postBody" name="name" rows="8" cols="80"></textarea>
<button class="submitButton" type="submit">Submit</button>
</form>

<%- include('partials/footer'); -%>
