<%- include('partials/header'); -%>

<h1 class="pageTitle">Home</h1>

<section>
<ul class="lu-articles">
<li class="li-articles">
<h3 class="contentTitle">first</h3>
<p class="content"> content </p>
</li>
<ul>

</section>


</body>

<%- include('partials/footer'); -%>
